{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "bracketSpacing": true,
    "useTabs": false,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "endOfLine": "auto",
    "proseWrap": "preserve",
    "bracketSameLine": false,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "requirePragma": false,
    "singleAttributePerLine": false,
    "vueIndentScriptAndStyle": false
}
