{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 250,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "spaceBeforeFunctionParen": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "enable": true,
  "enableDebugLogs": false,
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "insertPragma": false,
  "requireConfig": false,
  "requirePragma": false,
  "resolveGlobalModules": false,
  "singleAttributePerLine": false,
  "useEditorConfig": true,
  "vueIndentScriptAndStyle": false,
  "withNodeModules": false
}
