volumes:
    database-data:
    redis-data:

networks:
    poveroh_network:
        external: true

services:
    redis:
        image: ghcr.io/poveroh/poveroh-redis:latest
        container_name: redis
        restart: always
        env_file: .env
        ports:
            - 6379:6379
        volumes:
            - redis-data:/data
        networks:
            - poveroh_network

    db:
        image: ghcr.io/poveroh/poveroh-db:latest
        container_name: db
        restart: always
        env_file: .env
        ports:
            - 5432:5432
        volumes:
            - database-data:/var/lib/postgresql
        networks:
            - poveroh_network

    api:
        image: ghcr.io/poveroh/poveroh-api:latest
        container_name: api
        restart: always
        env_file: .env
        environment:
            - API_PORT=${API_PORT}
            - JWT_KEY=${JWT_KEY}
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}/${POSTGRES_DB}
            - CDN_LOCAL_DATA_PATH=${CDN_LOCAL_DATA_PATH}
        ports:
            - 3001:3001
        volumes:
            - ${CDN_LOCAL_DATA_PATH}:/usr/share/cdn-data
        networks:
            - poveroh_network

    app:
        image: ghcr.io/poveroh/poveroh-app:latest
        container_name: app
        restart: always
        env_file: .env
        environment:
            - NODE_ENV=production
            - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
        ports:
            - 3000:3000
        networks:
            - poveroh_network
        depends_on:
            - api

    cdn:
        image: ghcr.io/poveroh/poveroh-cdn:latest
        container_name: cdn
        restart: always
        env_file: .env
        ports:
            - "3002:3002"
        volumes:
            - ${CDN_LOCAL_DATA_PATH}:/usr/share/cdn-data
        networks:
            - poveroh_network
