volumes:
    database-data:
    redis-data:

networks:
    poveroh_network:
        external: true

services:
    redis:
        container_name: redis
        build:
            context: ..
            dockerfile: ./infra/redis/redis.dockerfile
        restart: always
        env_file: .env
        ports:
            - 6379:6379
        volumes:
            - redis-data:/data
        networks:
            - poveroh_network

    db:
        container_name: db
        build:
            context: ..
            dockerfile: ./infra/db/db.dockerfile
        restart: always
        env_file: .env
        ports:
            - 5432:5432
        volumes:
            - database-data:/var/lib/postgresql
        networks:
            - poveroh_network

    studio:
        container_name: studio
        build:
            context: ..
            dockerfile: ./infra/db/studio.dockerfile
            args:
                DATABASE_URL: ${DATABASE_URL}
        restart: always
        env_file: .env
        environment:
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}/${POSTGRES_DB}
        ports:
            - 5555:5555
        networks:
            - poveroh_network

    api:
        container_name: api
        build:
            context: ..
            dockerfile: ./apps/api/api.dockerfile
            args:
                API_PORT: ${API_PORT}
                JWT_KEY: ${JWT_KEY}
                DATABASE_URL: ${DATABASE_URL}
        restart: always
        env_file: .env
        environment:
            - API_PORT=${API_PORT}
            - JWT_KEY=${JWT_KEY}
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}/${POSTGRES_DB}
            - CDN_LOCAL_DATA_PATH=${CDN_LOCAL_DATA_PATH}
        ports:
            - 3001:3001
        volumes:
            - ${CDN_LOCAL_DATA_PATH}:/usr/share/cdn-data
        networks:
            - poveroh_network

    app:
        container_name: app
        build:
            context: ..
            dockerfile: ./apps/app/app.dockerfile
            args:
                NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        restart: always
        env_file: .env
        environment:
            - NODE_ENV=production
            - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
        ports:
            - 3000:3000
        networks:
            - poveroh_network
        depends_on:
            - api

    cdn:
        container_name: cdn
        build:
            context: ..
            dockerfile: ./infra/cdn/cdn.dockerfile
        restart: always
        env_file: .env
        ports:
            - 3002:3002
        volumes:
            - ${CDN_LOCAL_DATA_PATH}:/usr/share/cdn-data
        networks:
            - poveroh_network
