@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ---- color ---- */
    --brand-color: #4e594a;
    --brand-color-2: #278664;

    --primary-color: #fafafa;
    --primary-foreground-color: #313131;

    --secondary-color: #313131;
    --secondary-foreground-color: #fafafa;

    --warning-color: #f89406;
    --warning-color-dark: #f89406;

    --danger-color: #eb3232;
    --danger-color-dark: #c62b2b;
    --danger-color-light: #ff5f5f;

    --success-color: #2dd181;
    --success-color-dark: #198754;

    --black-color: #0d0d0d;
    --white-color: #fafafa;

    --hr-color: #4a4747; /*#393939 */
    --border-color: #4a4747;
    --ring-color: #4a4747;

    --body-color: #1c1c1c;
    --body-gradient-color:
        radial-gradient(circle 600px at bottom right, var(--brand-color-2), #1c1c1c00),
        radial-gradient(circle 600px at top left, var(--brand-color-2), #1c1c1c00), var(--body-color);
    --input-color: #313131;
    --box-color: #212121;

    --text-color: var(--white-color);

    --muted-color: #6a6a6a;
    --muted-foreground-color: #6a6a6a;

    --card-color: #0a0a0b;
    --card-foreground-color: #fafafa;

    --popover-color: #212121;
    --popover-foreground-color: #fafafa;

    --accent-color: rgb(40, 40, 45);
    --accent-foreground-color: #fafafa;

    --chart-1-color: #246bce;
    --chart-2-color: #2db592;
    --chart-3-color: #e69b3a;
    --chart-4-color: #8e40c8;
    --chart-5-color: #e63a79;

    --placeholder-color: var(--muted-color);
    /* ---- border radius ---- */
    --radius-size: 0.6rem; /*clamp(10px, 5%, 30px);/*
    /* ---- font family and size ---- */
    --font-family: 'Inter', Arial, sans-serif;
    --size-base: 14px;
    --size-p-default: 1rem;
    --size-p-small: 0.85rem;
    --size-p-xs-small: 0.756rem;
    --size-headings-h1: 3.21rem;
    --size-headings-h2: 2.5rem;
    --size-headings-h3: 1.78rem;
    --size-headings-h4: 1.42rem;
    --size-headings-h5: 1.09rem;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-extraBold: 800;
    /* ---- icon ---- */
    --icon-cash: url('/icon/cash-for-bg.svg');
    --icon-arrow-down: url('/icon/apple-keyboard-control.svg');
}

:host {
    display: contents;
}

/* BODY & HTML */
body,
html {
    padding: 0;
    margin: 0;
    display: block;
    min-width: 320px;
    position: relative;
    color-scheme: dark;
    font-size: var(--size-base);
    background-color: var(--body-color);
    font-family: var(--font-family), serif;
    font-weight: var(--weight-regular);
    overflow-y: auto;
    overflow-x: hidden;
}

body[data-scroll-locked] {
    margin-right: 0 !important;
}

/* BACKGROUND */
.bg-body {
    background-color: var(--body-color);
}

.bg-brand-color {
    background-color: var(--brand-color-2);
}

.bg-special-pattern {
    background-color: var(--brand-color-2);
    background-image: var(--icon-cash);
    background-repeat: repeat;
    --size: 50px;
    background-size: var(--size) var(--size);
}

.bg-gradient-color {
    background: var(--bg-body-gradient-color) !important;
}

.bg-success {
    background-color: var(--success-color);
}

.bg-waiting {
    background-color: var(--warning-color);
}

.no-bg {
    background: none !important;
}

.bg-divider {
    background-color: var(--hr-color);
}

.bg-form-background,
.bg-box-background {
    background-color: var(--box-color);
}

.bg-input-color {
    background-color: var(--bg-input-color);
}

/*  TEXT, P, SMALL, A, H123456  */
h1 {
    color: var(--text-color);
    font-size: var(--size-headings-h1);
    font-weight: var(--weight-bold);
}

h2 {
    color: var(--text-color);
    font-size: var(--size-headings-h2);
    font-weight: var(--weight-bold);
}

h3 {
    color: var(--text-color);
    font-size: var(--size-headings-h3);
    font-weight: var(--weight-bold);
}

h4 {
    color: var(--text-color);
    font-size: var(--size-headings-h4);
    font-weight: var(--weight-bold);
}

h5 {
    color: var(--text-color);
    font-size: var(--size-headings-h5);
    font-weight: var(--weight-bold);
}

p,
label,
span {
    color: var(--text-color);
    font-size: var(--size-p-default);
    margin: 0;
    padding: 0;
}

p.small {
    font-size: var(--size-p-small);
}

.sub {
    color: var(--muted-color);
}

.danger,
.danger-all,
.danger-all p,
.danger-all > * .danger-all:hover,
.danger-all:hover > * {
    color: var(--danger-color) !important;
}

.border-danger {
    border: 1px solid var(--danger-color) !important;
}

.warning,
.warning-all,
.warning-all > * .warning-all:hover,
.warning-all:hover > *,
.warning-all path {
    color: var(--warning-color) !important;
}

.success,
.success-all,
.success-all p,
.success-all > * .success-all:hover,
.success-all:hover > * {
    color: var(--success-color);
}

a {
    font-size: var(--size-p-default);
    color: var(--text-color);
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    cursor: pointer;
}

/* STRUCTURE */
hr {
    border-color: var(--hr-color);
}

.nav-app {
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 5;
}

/* BRAND */
.brands {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.brands.sm {
    width: 20px;
    height: 20px;
}

.brands.xl {
    width: 50px;
    height: 50px;
}

.brands.circled {
    background-size: 60%;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
}

/* scrollbar style */
@-moz-document url-prefix() {
    * {
        scrollbar-width: none;
    }
    .vertical-scrollbar,
    .horizontal-scrollbar {
        scrollbar-width: initial;
        scrollbar-color: rgba(96, 100, 108, 0.1) transparent;
    }
    .vertical-scrollbar:hover,
    .horizontal-scrollbar:hover {
        scrollbar-color: rgba(96, 100, 108, 0.25) transparent;
    }
    .vertical-scrollbar:active,
    .horizontal-scrollbar:active {
        scrollbar-color: rgba(96, 100, 108, 0.7) transparent;
    }
}

.vertical-scrollbar {
    overflow-y: auto;
}
.horizontal-scrollbar {
    overflow-x: auto;
}
.vertical-scrollbar::-webkit-scrollbar,
.horizontal-scrollbar::-webkit-scrollbar {
    display: block;
}
.vertical-scrollbar::-webkit-scrollbar-track,
.horizontal-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}
.vertical-scrollbar::-webkit-scrollbar-thumb,
.horizontal-scrollbar::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(96, 100, 108, 0.1);
    border-radius: 9999px;
}
.vertical-scrollbar:hover::-webkit-scrollbar-thumb,
.horizontal-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(96, 100, 108, 0.25);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:hover,
.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(96, 100, 108, 0.5);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:active,
.horizontal-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(96, 100, 108, 0.7);
}
.vertical-scrollbar::-webkit-scrollbar-corner,
.horizontal-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
}
.vertical-scrollbar-margin-top-md::-webkit-scrollbar-track {
    margin-top: 44px;
}
